html {
    height: 100%;
    width: 100%;
    
  }
  
  *{
    margin: 0;
    padding: 0;
  }
  
  body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #7959c5;
    
  }
  #main{
    font-size: 70px;
  }
  